<% if(ticket.rows.length > 0) { %> 
<div class="container">
    <table id="contactList" class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center" scope="col">Ticket</th>
                <th class="text-center" scope="col">Price</th>
                <th class="text-center" scope="col">Cancel</th>
            </tr>
        </thead>
        <tbody>
            <%  let total = 0;
                for(let i = 0; i < ticket.rows.length; i++) { 
                    total += ticket.rows[i].PRICE;
                    %>
                <tr>
                    <td class="card col-12">
                        <h5 class="card-header"><%= ticket.rows[i].AIRLINE %> <%= ticket.rows[i].FLIGHTID %></h5>
                        
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    Seat: <%= ticket.rows[i].POSITION %>
                                </div>
                                <div class="col-12 col-sm-6 text-sm-end">
                                    Ticket ID: <%=ticket.rows[i].ID_TICKET%>
                                </div>    
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    Depart: <%=moment(ticket.rows[i].TAKE_OFF_TIME).format("YYYY-MM-DD")%>
                                </div>
                                <div class="col-12 col-sm-6 justify-content-end text-sm-end">
                                    <%=moment(ticket.rows[i].ARRIVAL_TIME).format("YYYY-MM-DD")%>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <%=moment(ticket.rows[i].TAKE_OFF_TIME).format("H:mm")%>
                                </div>
                                <div class="col-12 col-sm-6 justify-content-end text-sm-end"> 
                                    <%=moment(ticket.rows[i].ARRIVAL_TIME).format("H:mm")%>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                    <div class="col-2 text-center">
                                        <i class="fa-solid fa-plane"></i>
                                    </div>
                            </div>
                            <div class="row justify-content-center">
                                    <div class="col-12 col-sm-6 text-center">
                                        From <%=ticket.rows[i].FROM_AIRPORT%> To <%=ticket.rows[i].TO_AIRPORT%> 
                                    </div>
                            </div>
                        
                        </div>
                    </td>
                    <td class="text-center">
                        $<%= ticket.rows[i].PRICE.toFixed(2)%>
                    </td>
                    <td class="text-center">
                        <br><br>
                        <a class="btn btn-danger" href="/cancel/<%=ticket.rows[i].ID_TICKET%>"><i class="fa-solid fa-xmark"></i></a>
                    </td>
                </tr>
            <% } %>
                <tr>
                    
                    <th class="text-end">Total <br>(before tax)</th>
                    <td class="text-center">$<%=total.toFixed(2)%></td>
                    <th></th>
                </tr>
                <tr>
                    <th class="text-end">Tax</th>
                    <td class="text-center">$<%=(total * ticket.rows[0].TAX_RATE).toFixed(2)%></td>
                    <th></th>
                </tr>
                <tr>
                    <th class="text-end">Total</th>
                    <td class="text-center">$<%=(total + total * ticket.rows[0].TAX_RATE).toFixed(2)%></td>
                    <th></th>
                </tr>
                <tr>
                    <% if (ticket.rows.length > 0) { %>
                    <th class="text-end">Check Out</th>
                    <td class="text-center"><a class="btn btn-success" href="/confirm"><i class="fa-solid fa-plane-departure"></i></td> <% } %>
                    <td></td>
                    </tr>
        </tbody>
    </table>
</div>
<% } else {%>
    <div class="container">
        <div class="row">
            <div class="col-12 justify-content-end text-start"> 
            No Result Found.
            </div>
            <br><br><br>
            <div class="col-12 justify-content-end text-start"> 
                <a href="/home" class="btn btn-primary btn-sm" id="button">Return</a>
            </div>
        </div>
    </div>
<% } %>